.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 270px;
}
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 270px 270px;
}
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 270px;
  height: 270px;
}
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 300px 300px;
}
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 270px;
  height: 270px;
}
.so-widget-sow-post-carousel-default-fa0e60bb7344 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 270px;
  height: 270px;
}